<div class="layout-1col cols-10">
  <% add_decidim_page_title(t(".elevate_access")) %>
  <header class="text-center py-10">
    <h1 class="title-decorator inline-block text-left md:mb-12"><%= t(".elevate_access") %></h1>
  </header>
  <section>
    <p class="font-medium pb-8 text-xl text-center">
      <%= t(".elevate_access_description") %>
    </p>
    <div class="card">
      <div class="card-section>">
        <% if admin_auth_settings.email? %>
          <div class="row">
            <div class="flex justify-center mb-8">
              <div class="social-register">
                <%= link_to select_elevation_strategy_path(strategy: :email) , class: "button button__sm md:button__lg button__secondary  w-40", method: :post do %>
              <span class="button--social__text">
                <%= t(".email") %>
              </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <% if admin_auth_settings.sms? %>
          <div class="row">
            <div class="flex justify-center mb-8">
              <div class="social-register">
                <%= link_to select_elevation_strategy_path(strategy: :sms) , class: "button button__sm md:button__lg button__secondary w-40", method: :post do %>
              <span class="button--social__text">
                <%= t(".sms") %>
              </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <% if admin_auth_settings.webauthn? %>
          <div class="row">
            <div class="flex justify-center mb-8">
              <div class="social-register">
                <%= link_to select_elevation_strategy_path(strategy: :webauthn), class: "button button__sm md:button__lg button__secondary w-40", method: :post do %>
              <span class="button--social__text">
                <%= t(".webauthn") %>
              </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
